<div class="card mx-auto col-12 col-sm-8 col-md-4">
    <div class="card-block">
        <h4 class="card-title">
            Verification
        </h4>
        <div class="card-text" *ngIf="!loading.resending && !loading.verifying">
            <div class="alert alert-danger" *ngIf="error">
                {{ error }}
            </div>
            <div *ngIf="authService.loggedIn() && !authService.verified">
                Your email address must be verified before you may access this site.
                <br/>
                <a href="javascript:void(0)" (click)="onResend()">Resend verification email?</a>
            </div>
        </div>

        <div class="card-text" *ngIf="loading.verifying">
            Please wait while we verify your email.
            <div class="d-block text-center">
                <i class="fa fa-2x fa-spinner fa-spin"></i>
            </div>
        </div>

        <div class="card-text" *ngIf="loading.resending">
            Please wait while we resend your verification email.
            <div class="d-block text-center">
                <i class="fa fa-2x fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</div>
